[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
jupyterlab-git = "*"
trufflehog = "==2.*"

[packages]

[requires]
python_version = "3.7"

[scripts]
scan = 'bash .circleci/test_secretkeys.sh'
test = 'echo "script is working, but no tests defined"'
