[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
trufflehog = "==2.*"
pytest = "*"
pytest-cov = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
scan = 'bash .circleci/test_secretkeys.sh'
test = 'python -m pytest --junitxml=/tmp/test-results/pytest.xml'
