[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
trufflehog = "==2.*"
pytest = "*"
pytest-cov = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
scan = 'bash .circleci/test_secretkeys.sh'
test = 'pytest  --junitxml=/tmp/test-results/pytest.xml --cov=src --cov-branch --cov-report=xml:DEST:/tmp/test-results/coverage.xml'
